In [1]:
import pandas

In [2]:
sydney = pandas.Series(index=['Mon', 'Tue', 'Wed'], data=[37,38,29])
melbourne = pandas.Series(index=['Sun', 'Mon', 'Tue'], data=[25, 42, 41])
city_data = pandas.DataFrame({
        'sydney': sydney,
        'melbourne': melbourne
    })

In [3]:
city_data

     melbourne  sydney
Mon       42.0    37.0
Sun       25.0     NaN
Tue       41.0    38.0
Wed        NaN    29.0

In [4]:
!pip install html5lib
!pip install BeautifulSoup4

Requirement already satisfied: html5lib in /Users/gregb/anaconda/lib/python3.5/site-packages
Requirement already satisfied: setuptools>=18.5 in /Users/gregb/anaconda/lib/python3.5/site-packages/setuptools-27.2.0-py3.5.egg (from html5lib)
Requirement already satisfied: six in /Users/gregb/anaconda/lib/python3.5/site-packages (from html5lib)
Requirement already satisfied: webencodings in /Users/gregb/anaconda/lib/python3.5/site-packages (from html5lib)
Requirement already satisfied: BeautifulSoup4 in /Users/gregb/anaconda/lib/python3.5/site-packages

In [5]:
list_of_tables = pandas.read_html('http://en.wikipedia.org/wiki/List_of_countries_and_dependencies_by_population',
                                 header=0,
                                 index_col=1)

In [6]:
len(list_of_tables)

3

In [7]:
populations = list_of_tables[1]
populations

,Rank,Population,Date,% of world population,Source
Country (or dependent territory),,,,,
China[Note 2],1,1381390000,"February 6, 2017",18.5%,Official population clock
India,2,1311610000,"February 6, 2017",17.5%,Official population clock
United States[Note 3],3,324488000,"February 6, 2017",4.34%,Official population clock
Indonesia,4,260581000,"July 1, 2016",3.48%,UN Projection
Brazil,5,207060000,"February 6, 2017",2.77%,Official population clock
Pakistan,6,196282000,"February 6, 2017",2.62%,Official population clock
Nigeria,7,186988000,"July 1, 2016",2.5%,UN Projection
Bangladesh,8,161896000,"February 6, 2017",2.16%,Official population clock
Russia[Note 4],9,146838993,"January 1, 2017",1.96%,Official estimate
Japan,10,126860000,"January 1, 2017",1.70%,Monthly provisional estimate
Mexico,11,122273000,"July 1, 2016",1.63%,Official projection
Philippines,12,103728000,"February 6, 2017",1.39%,Official population clock
Ethiopia,13,101853000,"July 1, 2016",1.36%,UN Projection
Vietnam,14,92700000,"July 1, 2016",1.24%,Annual official projection
Egypt,15,92430400,"February 6, 2017",1.24%,Official population clock
Germany,16,82175700,"December 31, 2015",1.10%,Official estimate
Democratic Republic of the Congo,17,82243000,"July 1, 2017",1.10%,UN Projection
Iran,18,79890100,"February 6, 2017",1.07%,Official population clock
Turkey,19,79814871,"December 31, 2016",1.07%,Annual official estimate
Thailand,20,68147000,"July 1, 2016",0.91%,UN Projection
France[Note 5],21,66984000,"January 1, 2017",0.9%,Monthly official estimate
United Kingdom,22,65110000,"July 1, 2015",0.87%,Annual official estimate
Italy,23,60589940,"September 30, 2016",0.81%,Official estimate
South Africa,24,55908000,"July 1, 2016",0.75%,Annual official estimate
Tanzania[Note 6],25,55155000,"July 1, 2016",0.74%,UN projection
Myanmar,26,54363000,"July 1, 2016",0.73%,UN projection
South Korea,27,50801405,"July 1, 2016",0.68%,Annual official estimate
Colombia,28,49076100,"February 6, 2017",0.656%,Official population clock
Kenya,29,47251000,"July 1, 2016",0.63%,UN projection
Spain,30,46812000,"July 1, 2016",0.63%,Official estimate
...,...,...,...,...,...
Saint Kitts and Nevis,189,46204,"May 15, 2011",0.00062%,2011 census result
Sint Maarten (Netherlands),–,39410,"January 1, 2016",0.00053%,Official estimate
Monaco,190,38400,"December 31, 2015",0.00051%,Annual official estimate
Liechtenstein,191,37686,"June 30, 2016",0.0005%,Semi annual official estimate
Saint-Martin (France),–,36457,"January 1, 2015",0.00049%,Annual official estimate
Gibraltar (UK),–,33140,"December 31, 2014",0.00044%,Annual official estimate
San Marino,192,33121,"September 30, 2016",0.00044%,Monthly official estimate
Turks and Caicos Islands (UK),–,31458,"January 25, 2012",0.00042%,2012 census result
British Virgin Islands (UK),–,28514,"July 1, 2013",0.00038%,Official estimate
Bonaire (Netherlands),–,18905,"January 1, 2015",0.00025%,Official estimate
Cook Islands (NZ),–,18100,"March 1, 2016",0.00024%,Official quarterly estimate
Palau,193,17950,"July 1, 2015",0.00024%,Annual official estimate
Anguilla (UK),–,13452,"May 11, 2011",0.00018%,Preliminary 2011 census result
Wallis and Futuna (France),–,11750,"July 1, 2015",0.00016%,Annual official estimate
Tuvalu,194,10640,"November 4, 2012",0.00014%,2012 census result
Nauru,195,10084,"October 30, 2011",0.00013%,2011 census result
Saint Barthélemy (France),–,9417,"January 1, 2015",0.00013%,Annual official estimate
Saint Pierre and Miquelon (France),–,6286,"January 1, 2015",0.000084%,Annual official estimate
"Saint Helena, Ascension and Tristan da Cunha (UK)",–,5633,"February 7, 2016",0.000075%,2016 census result
Montserrat (UK),–,4922,"May 12, 2011",0.000066%,2011 census result
Sint Eustatius (Netherlands),–,3877,"January 1, 2015",0.000052%,Official estimate
Falkland Islands (UK),–,2563,"April 15, 2012",0.000034%,2012 census result
Norfolk Island (Australia),–,2302,"August 9, 2011",0.000031%,2011 census result
Christmas Island (Australia),–,2072,"August 9, 2011",0.000028%,2011 census result
Saba (Netherlands),–,1811,"January 1, 2015",0.000024%,Official estimate
Niue (NZ),–,1470,"July 1, 2015",0.00002%,Annual official estimate
Tokelau (NZ),–,1411,"October 18, 2011",0.000019%,2011 census result
Vatican City,196,842,"January 1, 2014",0.000011%,Official estimate
Cocos (Keeling) Islands (Australia),–,550,"August 9, 2011",0.0000074%,2011 census result
Pitcairn Islands (UK),–,57,"July 1, 2014",0.00000075%,Official estimate

In [8]:
populations.loc['Australia'].Population

24353000

In [9]:
populations[populations.Population > 24353000]

,Rank,Population,Date,% of world population,Source
Country (or dependent territory),,,,,
China[Note 2],1,1381390000,"February 6, 2017",18.5%,Official population clock
India,2,1311610000,"February 6, 2017",17.5%,Official population clock
United States[Note 3],3,324488000,"February 6, 2017",4.34%,Official population clock
Indonesia,4,260581000,"July 1, 2016",3.48%,UN Projection
Brazil,5,207060000,"February 6, 2017",2.77%,Official population clock
Pakistan,6,196282000,"February 6, 2017",2.62%,Official population clock
Nigeria,7,186988000,"July 1, 2016",2.5%,UN Projection
Bangladesh,8,161896000,"February 6, 2017",2.16%,Official population clock
Russia[Note 4],9,146838993,"January 1, 2017",1.96%,Official estimate
Japan,10,126860000,"January 1, 2017",1.70%,Monthly provisional estimate
Mexico,11,122273000,"July 1, 2016",1.63%,Official projection
Philippines,12,103728000,"February 6, 2017",1.39%,Official population clock
Ethiopia,13,101853000,"July 1, 2016",1.36%,UN Projection
Vietnam,14,92700000,"July 1, 2016",1.24%,Annual official projection
Egypt,15,92430400,"February 6, 2017",1.24%,Official population clock
Germany,16,82175700,"December 31, 2015",1.10%,Official estimate
Democratic Republic of the Congo,17,82243000,"July 1, 2017",1.10%,UN Projection
Iran,18,79890100,"February 6, 2017",1.07%,Official population clock
Turkey,19,79814871,"December 31, 2016",1.07%,Annual official estimate
Thailand,20,68147000,"July 1, 2016",0.91%,UN Projection
France[Note 5],21,66984000,"January 1, 2017",0.9%,Monthly official estimate
United Kingdom,22,65110000,"July 1, 2015",0.87%,Annual official estimate
Italy,23,60589940,"September 30, 2016",0.81%,Official estimate
South Africa,24,55908000,"July 1, 2016",0.75%,Annual official estimate
Tanzania[Note 6],25,55155000,"July 1, 2016",0.74%,UN projection
Myanmar,26,54363000,"July 1, 2016",0.73%,UN projection
South Korea,27,50801405,"July 1, 2016",0.68%,Annual official estimate
Colombia,28,49076100,"February 6, 2017",0.656%,Official population clock
Kenya,29,47251000,"July 1, 2016",0.63%,UN projection
Spain,30,46812000,"July 1, 2016",0.63%,Official estimate
Argentina,31,43850000,"July 1, 2016",0.59%,Official annual projection
Ukraine[Note 7],32,42603854,"December 1, 2016",0.57%,Monthly official estimate
Sudan,33,41176000,"July 1, 2016",0.55%,Official annual projection
Algeria,34,40400000,"July 1, 2016",0.54%,Official annual projection
Poland,35,38439000,"October 1, 2016",0.51%,Official estimate
Iraq,36,37883543,"July 1, 2016",0.51%,Official annual projection
Uganda,37,36860700,"July 1, 2016",0.49%,Official annual projection
Canada,38,36443600,"February 6, 2017",0.487%,Official estimate
Morocco[Note 8],39,34221000,"February 6, 2017",0.457%,Official annual projection
Saudi Arabia,40,32775000,"July 1, 2016",0.44%,Official estimate
Uzbekistan,41,32121000,"January 1, 2017",0.43%,Official population report
Malaysia,42,31938200,"February 6, 2017",0.427%,Official population clock
Peru,43,31488700,"July 1, 2016",0.42%,Official annual projection
Venezuela,44,31028700,"July 1, 2016",0.41%,Official annual projection
Nepal,45,28431494,"July 1, 2016",0.38%,Official annual projection
Ghana,46,28308301,"July 1, 2016",0.38%,Official annual projection
Afghanistan,47,27657145,"July 1, 2016",0.37%,Annual official estimate
Yemen,48,27478000,"July 1, 2016",0.37%,UN projection
Mozambique,49,26423700,"July 1, 2016",0.35%,Annual official projection
Angola,50,25789024,"May 16, 2014",0.34%,Final 2014 census result

In [12]:
sydtrains = pandas.read_csv('../../data/sydtrains.csv')
sydtrains

,LINE,STATION,YEAR,SURVEY_DATE_USED,WHETHER_SURVEYED,IN_0200_0600,OUT_0200_0600,IN_0600_0930,OUT_0600_0930,IN_0930_1500,OUT_0930_1500,IN_1500_1830,OUT_1500_1830,IN_1830_0200,OUT_1830_0200,IN_24_HOURS,OUT_24_HOURS,RANK,STATION_SORT_ID
0,CBD,Central,2014,6/05/2014,Yes,940,920,10390,42070,21400,30150,45370,16270,19010,7700,"97,110","97,110",1,101
1,CBD,Town Hall,2014,7/05/2014,Yes,880,880,6380,43210,16930,23550,43670,15270,21760,6720,"89,620","89,620",2,102
2,CBD,Wynyard,2014,20/05/2014,Yes,590,570,4710,39620,9200,11180,35010,6510,10690,2330,"60,200","60,200",3,103
3,Western,Parramatta,2014,19/11/2014,Yes,660,330,7790,13700,7400,7020,14960,8660,4150,5260,"34,960","34,960",4,905
4,North Shore,North Sydney,2014,19/08/2014,Yes,270,270,2340,18340,4450,5590,17760,3050,3790,1360,"28,610","28,610",5,1402
5,CBD,Redfern,2014,1/05/2014,Yes,250,250,3910,10690,5350,8170,12510,4250,3660,2320,"25,680","25,680",6,108
6,North Shore,Chatswood,2014,19/08/2014,Yes,210,200,5030,8200,4710,4930,9430,6000,2820,2860,"22,200","22,200",7,1407
7,Eastern Suburbs,Bondi Junction,2014,2/09/2014,Yes,210,210,10150,4350,4370,4600,5240,8330,1910,4380,"21,880","21,880",8,203
8,Inner West,Strathfield,2014,9/09/2014,Yes,190,190,7900,4050,4980,3950,5540,7230,2100,5280,"20,710","20,710",9,1110
9,CBD,Circular Quay,2014,22/05/2014,Yes,200,200,2110,8750,4340,6710,9910,3380,4070,1600,"20,630","20,630",10,104
10,CBD,Martin Place,2014,27/05/2014,Yes,200,190,590,14250,2900,3420,12340,1790,4600,970,"20,630","20,630",10,107
11,Illawarra,Hurstville,2014,28/05/2014,Yes,160,160,7790,2200,5230,4180,3840,7450,1270,4290,"18,290","18,290",12,310
12,North Shore,St Leonards,2014,27/05/2014,Yes,170,170,3420,8900,3090,3310,8780,3230,2130,1990,"17,590","17,590",13,1405
13,Western,Blacktown,2014,14/10/2014,Yes,190,210,6460,3370,4270,3450,4600,7090,1040,2450,"16,560","16,560",14,911
14,Inner West,Burwood,2014,9/09/2014,Yes,140,140,4850,2930,4470,3670,4020,5060,1510,3190,"14,990","14,990",15,1109
15,Eastern Suburbs,Kings Cross,2014,3/09/2013,No,120,120,3690,3820,3110,2670,4400,3640,1550,2620,"12,870","12,870",16,201
16,North Shore,Hornsby,2014,14/05/2014,Yes,210,100,5550,2260,3060,2390,2750,5200,680,2290,"12,250","12,250",17,1417
17,Inner West,Ashfield,2014,4/09/2013,No,100,100,5090,2010,2690,2220,2500,4500,820,2370,"11,200","11,200",18,1107
18,Illawarra,Kogarah,2014,19/06/2014,Yes,90,100,4000,2970,3150,2320,3210,3450,650,2260,"11,100","11,100",19,307
19,South,Lidcombe,2014,5/06/2014,Yes,100,100,4570,1620,2870,2210,2550,3900,820,3080,"10,910","10,910",20,702
20,Western,Auburn,2014,19/11/2014,Yes,130,60,3880,1790,3220,2900,2700,3890,960,2260,"10,890","10,890",21,901
21,CBD,Museum,2014,22/05/2014,Yes,100,100,800,6290,2220,2340,5980,1230,1760,910,"10,860","10,860",22,106
22,Northern via Strathfield,Epping,2014,21/05/2014,Yes,170,90,5700,1580,2130,1600,1970,4920,600,2380,"10,570","10,570",23,1208
23,Northern via Macquarie Park,Macquarie University,2014,21/05/2014,Yes,100,100,1310,3220,2570,3940,4530,1970,1580,860,"10,090","10,090",24,1303
24,CBD,St James,2014,27/05/2014,Yes,100,90,780,5880,1900,2160,5630,1120,1440,580,"9,850","9,850",25,105
25,Illawarra,Rockdale,2014,28/05/2014,Yes,90,90,4660,780,2610,2170,1670,3770,610,2820,"9,640","9,640",26,306
26,South,Cabramatta,2014,11/06/2014,Yes,150,80,3780,1070,2760,2820,1750,3760,290,1000,"8,730","8,730",27,708
27,Bankstown,Bankstown,2014,13/05/2014,Yes,80,60,3010,1810,2400,2570,2840,3130,300,1050,"8,630","8,630",28,612
28,South,Liverpool,2014,4/06/2014,Yes,150,80,2510,2270,2510,2260,2610,2650,570,1100,"8,350","8,350",29,710
29,Illawarra,Sutherland,2014,12/06/2014,Yes,140,70,4260,1460,1920,1650,1750,3900,250,1240,"8,320","8,320",30,316
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3337,Newcastle,Newcastle,2004,19/06/2003,No,50,20,260,320,720,850,430,200,70,140,1530,1530,123,1917
3338,Hunter,Waratah,2004,16/10/2001,No,0,0,100,100,150,150,120,120,40,30,410,410,193,2001
3339,Hunter,Warabrook (University),2004,16/10/2001,No,10,10,20,250,120,200,300,70,90,20,540,540,185,2002
3340,Hunter,Sandgate,2004,16/10/2001,No,0,0,10,10,10,10,20,20,0,0,40,40,267,2003
3341,Hunter,Hexham,2004,16/10/2001,No,0,0,10,20,10,20,20,10,10,0,50,50,258,2004
3342,Hunter,Tarro,2004,16/10/2001,No,0,0,20,0,0,10,0,10,0,0,20,20,278,2005
3343,Hunter,Beresfield,2004,16/10/2001,No,0,0,180,80,140,110,70,180,10,40,400,400,195,2006
3344,Hunter,Thornton,2004,16/10/2001,No,0,0,150,20,60,80,50,150,10,20,270,270,211,2007
3345,Hunter,Metford,2004,16/10/2001,No,0,0,100,20,50,50,20,90,10,10,180,180,231,2008
3346,Hunter,Victoria Street,2004,16/10/2001,No,0,0,190,50,120,120,70,180,20,50,400,400,195,2009
3347,Hunter,East Maitland,2004,16/10/2001,No,0,0,20,50,50,40,50,20,0,10,120,120,240,2010
3348,Hunter,High Street,2004,16/10/2001,No,0,0,30,40,40,40,30,40,10,0,110,110,248,2011
3349,Hunter,Maitland,2004,16/10/2001,No,0,10,190,100,180,210,150,180,20,40,540,540,185,2012
3350,Hunter,Telarah,2004,24/08/2004,Yes,0,0,110,30,60,60,50,120,20,30,240,240,218,2013
3351,Hunter,Mindaribba,2004,24/08/2004,Yes,0,0,0,0,0,0,0,0,0,0,0,0,295,2014
3352,Hunter,Paterson,2004,24/08/2004,Yes,0,0,10,0,0,0,0,10,0,0,10,10,283,2015
3353,Hunter,Martins Creek,2004,24/08/2004,Yes,0,0,10,0,0,0,0,0,0,0,10,10,283,2016
3354,Hunter,Hilldale,2004,24/08/2004,Yes,0,0,0,0,0,0,0,0,0,0,0,0,295,2017
3355,Hunter,Wallarobba,2004,24/08/2004,Yes,0,0,0,0,0,0,0,0,0,0,0,0,295,2018
3356,Hunter,Wirragulla,2004,24/08/2004,Yes,0,0,0,0,0,0,0,0,0,0,0,0,295,2019
3357,Hunter,Dungog,2004,24/08/2004,Yes,0,0,20,0,10,20,10,20,0,10,40,40,267,2020
3358,Hunter,Lochinvar,2004,24/08/2004,Yes,0,0,10,0,0,0,0,0,0,0,10,10,283,2021
3359,Hunter,Allandale,2004,16/10/2001,No,0,0,0,0,0,0,0,0,0,0,0,0,295,2022
3360,Hunter,Greta,2004,24/08/2004,Yes,0,0,0,0,0,0,0,0,0,0,0,0,295,2023
3361,Hunter,Branxton,2004,24/08/2004,Yes,0,0,20,0,0,0,0,10,0,10,20,20,278,2024
3362,Hunter,Belford,2004,24/08/2004,Yes,0,0,0,0,0,0,0,0,0,0,0,0,295,2025
3363,Hunter,Singleton,2004,24/08/2004,Yes,0,0,30,10,0,0,10,30,10,10,50,50,258,2026
3364,Hunter,Muswellbrook,2004,24/08/2004,Yes,0,0,10,0,30,10,0,40,10,20,50,50,258,2027
3365,Hunter,Aberdeen,2004,24/08/2004,Yes,0,0,0,0,0,0,0,0,0,10,10,10,283,2028
3366,Hunter,Scone,2004,24/08/2004,Yes,10,0,0,0,0,0,0,10,0,0,10,10,283,2029

In [17]:
sydtrains[sydtrains.YEAR == 2014][['LINE', 'STATION', 'IN_0930_1500']].head(5)

          LINE       STATION  IN_0930_1500
0          CBD       Central         21400
1          CBD     Town Hall         16930
2          CBD       Wynyard          9200
3      Western    Parramatta          7400
4  North Shore  North Sydney          4450

In [18]:
sydtrains.OUT_1500_1830.max()

16270

In [21]:
sydtrains.LINE.value_counts()

South Coast                    374
Western                        319
Hunter                         299
Illawarra                      286
Blue Mountains                 234
North Shore                    231
Bankstown                      231
East Hills                     209
Southern Highlands             198
Newcastle                      187
Central Coast                  154
South                          121
Inner West                     121
Northern via Strathfield        88
CBD                             88
Northern via Macquarie Park     73
Carlingford                     66
Airport                         44
Eastern Suburbs                 33
Olympic Park                    11
Name: LINE, dtype: int64

In [22]:
sydtrains.describe(axis=1)

TypeError: describe() got an unexpected keyword argument 'axis'

In [36]:
url = 'http://www.bom.gov.au/jsp/ncc/cdio/weatherData/av?p_nccObsCode=136&p_display_type=dailyDataFile&p_startYear=2016&p_c=-872836455&p_stn_num=066062'
tables = pandas.read_html(url, index_col=0)
len(tables)

2

In [37]:
tables[0]

,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec
2016,,,,,,,,,,,,
Graph,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1st,0.0,0.2,0.0,0.0,2.8,29.4,0.0,0.0,0.0,0.0,0.0,0.0
2nd,0.0,2.0,0.0,0.0,0.0,1.0,0.0,0.4,14.4,0.0,0.0,0.2
3rd,0.0,0.0,0.0,0.0,0.0,0.2,0.0,24.8,23.4,0.0,0.0,0.0
4th,15.0,10.8,0.0,94.4,0.0,64.4,0.0,61.0,0.0,0.0,0.0,0.0
5th,34.2,3.6,0.0,6.4,0.0,93.8,4.8,4.0,0.0,0.0,0.0,0.4
6th,51.4,1.8,0.0,0.0,0.0,68.4,0.2,1.8,0.0,0.0,0.0,3.2
7th,41.4,0.0,0.0,0.2,0.0,0.0,29.4,0.6,0.0,0.0,0.0,7.8
8th,0.4,0.0,0.0,0.0,0.0,0.0,22.4,0.0,0.0,0.2,0.0,0.2
9th,0.0,0.0,0.0,0.4,1.6,0.2,2.2,0.0,0.0,0.0,2.0,0.4
10th,0.0,0.2,0.0,0.0,0.0,0.2,1.0,0.0,1.2,0.0,10.2,0.0
11th,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.8,0.0,0.0
12th,0.0,0.0,0.0,8.2,0.0,0.0,0.2,0.0,0.0,0.0,9.0,0.0
13th,0.0,0.0,0.0,0.6,0.0,0.0,0.0,0.0,0.0,4.4,0.0,0.0
14th,0.0,0.0,0.0,0.6,0.0,0.0,0.0,0.0,5.8,0.2,0.0,0.0
15th,34.0,0.0,16.8,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.6,8.2
16th,5.4,0.0,23.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,32.6
17th,0.0,0.0,13.6,0.0,0.0,0.0,0.8,0.0,0.0,0.0,0.0,10.4
18th,0.0,0.0,3.4,2.0,0.0,5.0,0.0,0.0,0.0,3.0,0.0,0.0
19th,0.0,0.0,4.8,15.0,0.0,0.4,0.2,0.0,13.4,0.2,0.0,0.0
20th,0.0,0.0,0.2,15.8,0.0,38.8,17.0,0.4,0.0,0.0,0.0,0.0
21st,0.0,6.0,61.2,0.0,0.0,0.0,20.4,0.0,0.0,0.0,0.0,0.0
22nd,30.6,1.2,25.4,0.0,0.0,0.0,0.0,0.0,2.0,11.8,0.0,0.0
23rd,13.0,0.0,1.6,6.6,0.0,0.0,6.0,1.8,0.6,0.6,0.0,0.0
24th,0.0,0.0,0.0,3.8,0.0,0.0,0.0,2.4,0.0,0.8,5.4,0.0
25th,0.0,0.0,0.0,0.0,0.0,0.6,0.0,52.8,3.4,0.0,0.0,1.6
26th,0.0,0.0,0.0,0.0,0.2,0.0,0.0,0.0,4.0,0.0,0.0,0.0
27th,2.2,0.0,0.2,0.0,0.2,0.0,0.0,1.4,0.0,0.0,0.0,0.0
28th,0.4,0.0,34.8,0.0,0.0,2.4,0.0,0.0,0.0,1.4,0.0,0.0
29th,0.0,0.0,0.0,0.0,2.2,0.2,0.0,0.0,1.4,3.2,0.0,0.0
30th,9.0,NaN,7.0,0.0,0.2,0.0,0.0,0.0,0.4,0.2,0.0,0.0
31st,12.8,NaN,1.2,NaN,0.0,NaN,0.0,0.0,NaN,1.6,NaN,0.0
Highest Daily,51.4,10.8,61.2,94.4,2.8,93.8,29.4,61.0,23.4,11.8,10.2,32.6
Monthly Total,249.8,25.8,193.2,155.0,7.2,305.0,104.6,151.4,70.0,31.4,27.2,65.0

In [38]:
tables[1]

,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec
Statistic,,,,,,,,,,,,
Mean,102.2,117.0,129.6,128.8,119.2,133.0,97.1,81.1,68.4,76.4,83.8,77.6
Median,79.8,92.3,99.1,98.8,90.8,101.8,74.3,54.9,52.5,55.4,66.9,59.7
Highest Daily,191.017th 1988,243.63rd 1990,280.728th 1942,191.029th 1860,212.328th 1889,150.611th 1991,198.17th 1931,327.66th 1986,144.510th 1879,161.813th 1902,234.69th 1984,126.09th 1970

In [43]:
rainfall = tables[0]

In [48]:
rainfall.loc['Monthly Total'].sum()

1385.6000000000001