# One-hot encoding

In [55]:
import pandas
titanic = pandas.read_csv('../../data/titanic.csv')

In [56]:
titanic

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S
12,13,0,3,"Saundercock, Mr. William Henry",male,20.0,0,0,A/5. 2151,8.0500,NaN,S
13,14,0,3,"Andersson, Mr. Anders Johan",male,39.0,1,5,347082,31.2750,NaN,S
14,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.0,0,0,350406,7.8542,NaN,S
15,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.0,0,0,248706,16.0000,NaN,S
16,17,0,3,"Rice, Master. Eugene",male,2.0,4,1,382652,29.1250,NaN,Q
17,18,1,2,"Williams, Mr. Charles Eugene",male,NaN,0,0,244373,13.0000,NaN,S
18,19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31.0,1,0,345763,18.0000,NaN,S
19,20,1,3,"Masselmani, Mrs. Fatima",female,NaN,0,0,2649,7.2250,NaN,C
20,21,0,2,"Fynney, Mr. Joseph J",male,35.0,0,0,239865,26.0000,NaN,S
21,22,1,2,"Beesley, Mr. Lawrence",male,34.0,0,0,248698,13.0000,D56,S
22,23,1,3,"McGowan, Miss. Anna ""Annie""",female,15.0,0,0,330923,8.0292,NaN,Q
23,24,1,1,"Sloper, Mr. William Thompson",male,28.0,0,0,113788,35.5000,A6,S
24,25,0,3,"Palsson, Miss. Torborg Danira",female,8.0,3,1,349909,21.0750,NaN,S
25,26,1,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",female,38.0,1,5,347077,31.3875,NaN,S
26,27,0,3,"Emir, Mr. Farred Chehab",male,NaN,0,0,2631,7.2250,NaN,C
27,28,0,1,"Fortune, Mr. Charles Alexander",male,19.0,3,2,19950,263.0000,C23 C25 C27,S
28,29,1,3,"O'Dwyer, Miss. Ellen ""Nellie""",female,NaN,0,0,330959,7.8792,NaN,Q
29,30,0,3,"Todoroff, Mr. Lalio",male,NaN,0,0,349216,7.8958,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
861,862,0,2,"Giles, Mr. Frederick Edward",male,21.0,1,0,28134,11.5000,NaN,S
862,863,1,1,"Swift, Mrs. Frederick Joel (Margaret Welles Ba...",female,48.0,0,0,17466,25.9292,D17,S
863,864,0,3,"Sage, Miss. Dorothy Edith ""Dolly""",female,NaN,8,2,CA. 2343,69.5500,NaN,S
864,865,0,2,"Gill, Mr. John William",male,24.0,0,0,233866,13.0000,NaN,S
865,866,1,2,"Bystrom, Mrs. (Karolina)",female,42.0,0,0,236852,13.0000,NaN,S
866,867,1,2,"Duran y More, Miss. Asuncion",female,27.0,1,0,SC/PARIS 2149,13.8583,NaN,C
867,868,0,1,"Roebling, Mr. Washington Augustus II",male,31.0,0,0,PC 17590,50.4958,A24,S
868,869,0,3,"van Melkebeke, Mr. Philemon",male,NaN,0,0,345777,9.5000,NaN,S
869,870,1,3,"Johnson, Master. Harold Theodor",male,4.0,1,1,347742,11.1333,NaN,S
870,871,0,3,"Balkic, Mr. Cerin",male,26.0,0,0,349248,7.8958,NaN,S
871,872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.0,1,1,11751,52.5542,D35,S
872,873,0,1,"Carlsson, Mr. Frans Olof",male,33.0,0,0,695,5.0000,B51 B53 B55,S
873,874,0,3,"Vander Cruyssen, Mr. Victor",male,47.0,0,0,345765,9.0000,NaN,S
874,875,1,2,"Abelson, Mrs. Samuel (Hannah Wizosky)",female,28.0,1,0,P/PP 3381,24.0000,NaN,C
875,876,1,3,"Najib, Miss. Adele Kiamie ""Jane""",female,15.0,0,0,2667,7.2250,NaN,C
876,877,0,3,"Gustafsson, Mr. Alfred Ossian",male,20.0,0,0,7534,9.8458,NaN,S
877,878,0,3,"Petroff, Mr. Nedelio",male,19.0,0,0,349212,7.8958,NaN,S
878,879,0,3,"Laleff, Mr. Kristo",male,NaN,0,0,349217,7.8958,NaN,S
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.0,0,1,11767,83.1583,C50,C
880,881,1,2,"Shelley, Mrs. William (Imanita Parrish Hall)",female,25.0,0,1,230433,26.0000,NaN,S
881,882,0,3,"Markun, Mr. Johann",male,33.0,0,0,349257,7.8958,NaN,S
882,883,0,3,"Dahlberg, Miss. Gerda Ulrika",female,22.0,0,0,7552,10.5167,NaN,S
883,884,0,2,"Banfield, Mr. Frederick James",male,28.0,0,0,C.A./SOTON 34068,10.5000,NaN,S
884,885,0,3,"Sutehall, Mr. Henry Jr",male,25.0,0,0,SOTON/OQ 392076,7.0500,NaN,S
885,886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652,29.1250,NaN,Q
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [57]:
import sklearn.preprocessing

In [58]:
label_enc = sklearn.preprocessing.LabelEncoder()

In [59]:
label_enc.fit_transform(titanic.Sex)

array([1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0,
       1, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1,
       1, 0, 1, 0, 1, 1, 0, 0, 1, 1, 0, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 1, 0,
       1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 0, 0, 1, 1, 0, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 0, 1, 0, 0,
       1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 0, 1, 1, 0, 1,
       1, 1, 0, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1,
       0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1,
       0, 1, 0, 1, 1, 1, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 1, 1, 1, 1, 0, 1,
       1, 0, 1, 1, 0, 1, 1, 1, 0, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0,
       0, 1, 1, 0, 1, 0, 1, 0, 1, 1, 0, 0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 0, 1,
       1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 0, 1, 1, 0, 1, 0, 0,
       0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 0, 1, 1, 1, 0, 1,
       0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 1, 1,
       0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1,
       0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 1, 1, 0, 1, 1, 1, 0, 0,
       0, 0, 1, 1, 1, 1, 0, 0, 0, 1, 1, 1, 0, 0, 1, 0, 1, 1, 1, 0, 1, 0, 1,
       1, 1, 0, 0, 1, 0, 1, 1, 0, 1, 1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 0, 1,
       1, 0, 0, 0, 1, 0, 1, 1, 1, 0, 1, 1, 0, 0, 1, 1, 1, 0, 0, 1, 1, 0, 0,
       0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1,
       0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1,
       0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 0, 1, 0, 1, 1, 0, 1, 1, 0, 1, 1,
       1, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1,
       1, 1, 0, 1, 0, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 0, 1, 0, 1,
       1, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 0, 1,
       1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 1,
       1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1,
       0, 1, 1, 1, 1, 0, 1, 0, 1, 0, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0,
       1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 0, 1, 1, 1, 0, 1, 0, 1, 0, 1, 1,
       1, 1, 1, 0, 0, 1, 1, 0, 1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1,
       0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1,
       0, 1, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0,
       1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 0, 1, 0, 1, 0, 1, 1, 1,
       1, 1, 0, 1, 0, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1,
       1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1,
       1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1,
       0, 0, 1, 1, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 1])

In [60]:
label_enc.classes_

array(['female', 'male'], dtype=object)

In [61]:
label_enc.inverse_transform([0,0,1])

array(['female', 'female', 'male'], dtype=object)

In [62]:
titanic.Embarked.unique()

array(['S', 'C', 'Q', nan], dtype=object)

In [63]:
embark_coder = sklearn.preprocessing.LabelEncoder()

In [64]:
titanic['port_as_a_number'] = embark_coder.fit_transform(titanic.Embarked.fillna('unknown'))
titanic.port_as_a_number

0      2
1      0
2      2
3      2
4      2
5      1
6      2
7      2
8      2
9      0
10     2
11     2
12     2
13     2
14     2
15     2
16     1
17     2
18     2
19     0
20     2
21     2
22     1
23     2
24     2
25     2
26     0
27     2
28     1
29     2
      ..
861    2
862    2
863    2
864    2
865    2
866    0
867    2
868    2
869    2
870    2
871    2
872    2
873    2
874    0
875    0
876    2
877    2
878    2
879    0
880    2
881    2
882    2
883    2
884    2
885    1
886    2
887    2
888    2
889    0
890    1
Name: port_as_a_number, dtype: int64

In [65]:
embark_coder.classes_

array(['C', 'Q', 'S', 'unknown'], dtype=object)

In [66]:
onehot = sklearn.preprocessing.OneHotEncoder(sparse=False)

In [67]:
onehot.fit_transform(titanic[['port_as_a_number']]).shape

(891, 4)

In [68]:
onehot.fit_transform(titanic[['port_as_a_number']])

array([[ 0.,  0.,  1.,  0.],
       [ 1.,  0.,  0.,  0.],
       [ 0.,  0.,  1.,  0.],
       ...,
       [ 0.,  0.,  1.,  0.],
       [ 1.,  0.,  0.,  0.],
       [ 0.,  1.,  0.,  0.]])

In [69]:
hot_df = pandas.DataFrame(
    onehot.fit_transform(titanic[['port_as_a_number']]),
    columns = embark_coder.classes_
    )
hot_df

       C    Q    S  unknown
0    0.0  0.0  1.0      0.0
1    1.0  0.0  0.0      0.0
2    0.0  0.0  1.0      0.0
3    0.0  0.0  1.0      0.0
4    0.0  0.0  1.0      0.0
5    0.0  1.0  0.0      0.0
6    0.0  0.0  1.0      0.0
7    0.0  0.0  1.0      0.0
8    0.0  0.0  1.0      0.0
9    1.0  0.0  0.0      0.0
10   0.0  0.0  1.0      0.0
11   0.0  0.0  1.0      0.0
12   0.0  0.0  1.0      0.0
13   0.0  0.0  1.0      0.0
14   0.0  0.0  1.0      0.0
15   0.0  0.0  1.0      0.0
16   0.0  1.0  0.0      0.0
17   0.0  0.0  1.0      0.0
18   0.0  0.0  1.0      0.0
19   1.0  0.0  0.0      0.0
20   0.0  0.0  1.0      0.0
21   0.0  0.0  1.0      0.0
22   0.0  1.0  0.0      0.0
23   0.0  0.0  1.0      0.0
24   0.0  0.0  1.0      0.0
25   0.0  0.0  1.0      0.0
26   1.0  0.0  0.0      0.0
27   0.0  0.0  1.0      0.0
28   0.0  1.0  0.0      0.0
29   0.0  0.0  1.0      0.0
..   ...  ...  ...      ...
861  0.0  0.0  1.0      0.0
862  0.0  0.0  1.0      0.0
863  0.0  0.0  1.0      0.0
864  0.0  0.0  1.0      0.0
865  0.0  0.0  1.0      0.0
866  1.0  0.0  0.0      0.0
867  0.0  0.0  1.0      0.0
868  0.0  0.0  1.0      0.0
869  0.0  0.0  1.0      0.0
870  0.0  0.0  1.0      0.0
871  0.0  0.0  1.0      0.0
872  0.0  0.0  1.0      0.0
873  0.0  0.0  1.0      0.0
874  1.0  0.0  0.0      0.0
875  1.0  0.0  0.0      0.0
876  0.0  0.0  1.0      0.0
877  0.0  0.0  1.0      0.0
878  0.0  0.0  1.0      0.0
879  1.0  0.0  0.0      0.0
880  0.0  0.0  1.0      0.0
881  0.0  0.0  1.0      0.0
882  0.0  0.0  1.0      0.0
883  0.0  0.0  1.0      0.0
884  0.0  0.0  1.0      0.0
885  0.0  1.0  0.0      0.0
886  0.0  0.0  1.0      0.0
887  0.0  0.0  1.0      0.0
888  0.0  0.0  1.0      0.0
889  1.0  0.0  0.0      0.0
890  0.0  1.0  0.0      0.0

[891 rows x 4 columns]

In [70]:
titanic.merge(hot_df, left_index=True, right_index=True)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,port_as_a_number,C,Q,S,unknown
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,2,0.0,0.0,1.0,0.0
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,0,1.0,0.0,0.0,0.0
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,2,0.0,0.0,1.0,0.0
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,2,0.0,0.0,1.0,0.0
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,2,0.0,0.0,1.0,0.0
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q,1,0.0,1.0,0.0,0.0
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S,2,0.0,0.0,1.0,0.0
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S,2,0.0,0.0,1.0,0.0
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S,2,0.0,0.0,1.0,0.0
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C,0,1.0,0.0,0.0,0.0
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S,2,0.0,0.0,1.0,0.0
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S,2,0.0,0.0,1.0,0.0
12,13,0,3,"Saundercock, Mr. William Henry",male,20.0,0,0,A/5. 2151,8.0500,NaN,S,2,0.0,0.0,1.0,0.0
13,14,0,3,"Andersson, Mr. Anders Johan",male,39.0,1,5,347082,31.2750,NaN,S,2,0.0,0.0,1.0,0.0
14,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.0,0,0,350406,7.8542,NaN,S,2,0.0,0.0,1.0,0.0
15,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.0,0,0,248706,16.0000,NaN,S,2,0.0,0.0,1.0,0.0
16,17,0,3,"Rice, Master. Eugene",male,2.0,4,1,382652,29.1250,NaN,Q,1,0.0,1.0,0.0,0.0
17,18,1,2,"Williams, Mr. Charles Eugene",male,NaN,0,0,244373,13.0000,NaN,S,2,0.0,0.0,1.0,0.0
18,19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31.0,1,0,345763,18.0000,NaN,S,2,0.0,0.0,1.0,0.0
19,20,1,3,"Masselmani, Mrs. Fatima",female,NaN,0,0,2649,7.2250,NaN,C,0,1.0,0.0,0.0,0.0
20,21,0,2,"Fynney, Mr. Joseph J",male,35.0,0,0,239865,26.0000,NaN,S,2,0.0,0.0,1.0,0.0
21,22,1,2,"Beesley, Mr. Lawrence",male,34.0,0,0,248698,13.0000,D56,S,2,0.0,0.0,1.0,0.0
22,23,1,3,"McGowan, Miss. Anna ""Annie""",female,15.0,0,0,330923,8.0292,NaN,Q,1,0.0,1.0,0.0,0.0
23,24,1,1,"Sloper, Mr. William Thompson",male,28.0,0,0,113788,35.5000,A6,S,2,0.0,0.0,1.0,0.0
24,25,0,3,"Palsson, Miss. Torborg Danira",female,8.0,3,1,349909,21.0750,NaN,S,2,0.0,0.0,1.0,0.0
25,26,1,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",female,38.0,1,5,347077,31.3875,NaN,S,2,0.0,0.0,1.0,0.0
26,27,0,3,"Emir, Mr. Farred Chehab",male,NaN,0,0,2631,7.2250,NaN,C,0,1.0,0.0,0.0,0.0
27,28,0,1,"Fortune, Mr. Charles Alexander",male,19.0,3,2,19950,263.0000,C23 C25 C27,S,2,0.0,0.0,1.0,0.0
28,29,1,3,"O'Dwyer, Miss. Ellen ""Nellie""",female,NaN,0,0,330959,7.8792,NaN,Q,1,0.0,1.0,0.0,0.0
29,30,0,3,"Todoroff, Mr. Lalio",male,NaN,0,0,349216,7.8958,NaN,S,2,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
861,862,0,2,"Giles, Mr. Frederick Edward",male,21.0,1,0,28134,11.5000,NaN,S,2,0.0,0.0,1.0,0.0
862,863,1,1,"Swift, Mrs. Frederick Joel (Margaret Welles Ba...",female,48.0,0,0,17466,25.9292,D17,S,2,0.0,0.0,1.0,0.0
863,864,0,3,"Sage, Miss. Dorothy Edith ""Dolly""",female,NaN,8,2,CA. 2343,69.5500,NaN,S,2,0.0,0.0,1.0,0.0
864,865,0,2,"Gill, Mr. John William",male,24.0,0,0,233866,13.0000,NaN,S,2,0.0,0.0,1.0,0.0
865,866,1,2,"Bystrom, Mrs. (Karolina)",female,42.0,0,0,236852,13.0000,NaN,S,2,0.0,0.0,1.0,0.0
866,867,1,2,"Duran y More, Miss. Asuncion",female,27.0,1,0,SC/PARIS 2149,13.8583,NaN,C,0,1.0,0.0,0.0,0.0
867,868,0,1,"Roebling, Mr. Washington Augustus II",male,31.0,0,0,PC 17590,50.4958,A24,S,2,0.0,0.0,1.0,0.0
868,869,0,3,"van Melkebeke, Mr. Philemon",male,NaN,0,0,345777,9.5000,NaN,S,2,0.0,0.0,1.0,0.0
869,870,1,3,"Johnson, Master. Harold Theodor",male,4.0,1,1,347742,11.1333,NaN,S,2,0.0,0.0,1.0,0.0
870,871,0,3,"Balkic, Mr. Cerin",male,26.0,0,0,349248,7.8958,NaN,S,2,0.0,0.0,1.0,0.0
871,872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.0,1,1,11751,52.5542,D35,S,2,0.0,0.0,1.0,0.0
872,873,0,1,"Carlsson, Mr. Frans Olof",male,33.0,0,0,695,5.0000,B51 B53 B55,S,2,0.0,0.0,1.0,0.0
873,874,0,3,"Vander Cruyssen, Mr. Victor",male,47.0,0,0,345765,9.0000,NaN,S,2,0.0,0.0,1.0,0.0
874,875,1,2,"Abelson, Mrs. Samuel (Hannah Wizosky)",female,28.0,1,0,P/PP 3381,24.0000,NaN,C,0,1.0,0.0,0.0,0.0
875,876,1,3,"Najib, Miss. Adele Kiamie ""Jane""",female,15.0,0,0,2667,7.2250,NaN,C,0,1.0,0.0,0.0,0.0
876,877,0,3,"Gustafsson, Mr. Alfred Ossian",male,20.0,0,0,7534,9.8458,NaN,S,2,0.0,0.0,1.0,0.0
877,878,0,3,"Petroff, Mr. Nedelio",male,19.0,0,0,349212,7.8958,NaN,S,2,0.0,0.0,1.0,0.0
878,879,0,3,"Laleff, Mr. Kristo",male,NaN,0,0,349217,7.8958,NaN,S,2,0.0,0.0,1.0,0.0
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.0,0,1,11767,83.1583,C50,C,0,1.0,0.0,0.0,0.0
880,881,1,2,"Shelley, Mrs. William (Imanita Parrish Hall)",female,25.0,0,1,230433,26.0000,NaN,S,2,0.0,0.0,1.0,0.0
881,882,0,3,"Markun, Mr. Johann",male,33.0,0,0,349257,7.8958,NaN,S,2,0.0,0.0,1.0,0.0
882,883,0,3,"Dahlberg, Miss. Gerda Ulrika",female,22.0,0,0,7552,10.5167,NaN,S,2,0.0,0.0,1.0,0.0
883,884,0,2,"Banfield, Mr. Frederick James",male,28.0,0,0,C.A./SOTON 34068,10.5000,NaN,S,2,0.0,0.0,1.0,0.0
884,885,0,3,"Sutehall, Mr. Henry Jr",male,25.0,0,0,SOTON/OQ 392076,7.0500,NaN,S,2,0.0,0.0,1.0,0.0
885,886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652,29.1250,NaN,Q,1,0.0,1.0,0.0,0.0
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S,2,0.0,0.0,1.0,0.0
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S,2,0.0,0.0,1.0,0.0
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S,2,0.0,0.0,1.0,0.0
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C,0,1.0,0.0,0.0,0.0
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q,1,0.0,1.0,0.0,0.0

In [16]:
sydtrains = pandas.read_csv('../../data/sydtrains.csv', index_col=1, thousands=',')
sydtrains

,LINE,YEAR,SURVEY_DATE_USED,WHETHER_SURVEYED,IN_0200_0600,OUT_0200_0600,IN_0600_0930,OUT_0600_0930,IN_0930_1500,OUT_0930_1500,IN_1500_1830,OUT_1500_1830,IN_1830_0200,OUT_1830_0200,IN_24_HOURS,OUT_24_HOURS,RANK,STATION_SORT_ID
STATION,,,,,,,,,,,,,,,,,,
Central,CBD,2014,6/05/2014,Yes,940,920,10390,42070,21400,30150,45370,16270,19010,7700,97110,97110,1,101
Town Hall,CBD,2014,7/05/2014,Yes,880,880,6380,43210,16930,23550,43670,15270,21760,6720,89620,89620,2,102
Wynyard,CBD,2014,20/05/2014,Yes,590,570,4710,39620,9200,11180,35010,6510,10690,2330,60200,60200,3,103
Parramatta,Western,2014,19/11/2014,Yes,660,330,7790,13700,7400,7020,14960,8660,4150,5260,34960,34960,4,905
North Sydney,North Shore,2014,19/08/2014,Yes,270,270,2340,18340,4450,5590,17760,3050,3790,1360,28610,28610,5,1402
Redfern,CBD,2014,1/05/2014,Yes,250,250,3910,10690,5350,8170,12510,4250,3660,2320,25680,25680,6,108
Chatswood,North Shore,2014,19/08/2014,Yes,210,200,5030,8200,4710,4930,9430,6000,2820,2860,22200,22200,7,1407
Bondi Junction,Eastern Suburbs,2014,2/09/2014,Yes,210,210,10150,4350,4370,4600,5240,8330,1910,4380,21880,21880,8,203
Strathfield,Inner West,2014,9/09/2014,Yes,190,190,7900,4050,4980,3950,5540,7230,2100,5280,20710,20710,9,1110
Circular Quay,CBD,2014,22/05/2014,Yes,200,200,2110,8750,4340,6710,9910,3380,4070,1600,20630,20630,10,104
Martin Place,CBD,2014,27/05/2014,Yes,200,190,590,14250,2900,3420,12340,1790,4600,970,20630,20630,10,107
Hurstville,Illawarra,2014,28/05/2014,Yes,160,160,7790,2200,5230,4180,3840,7450,1270,4290,18290,18290,12,310
St Leonards,North Shore,2014,27/05/2014,Yes,170,170,3420,8900,3090,3310,8780,3230,2130,1990,17590,17590,13,1405
Blacktown,Western,2014,14/10/2014,Yes,190,210,6460,3370,4270,3450,4600,7090,1040,2450,16560,16560,14,911
Burwood,Inner West,2014,9/09/2014,Yes,140,140,4850,2930,4470,3670,4020,5060,1510,3190,14990,14990,15,1109
Kings Cross,Eastern Suburbs,2014,3/09/2013,No,120,120,3690,3820,3110,2670,4400,3640,1550,2620,12870,12870,16,201
Hornsby,North Shore,2014,14/05/2014,Yes,210,100,5550,2260,3060,2390,2750,5200,680,2290,12250,12250,17,1417
Ashfield,Inner West,2014,4/09/2013,No,100,100,5090,2010,2690,2220,2500,4500,820,2370,11200,11200,18,1107
Kogarah,Illawarra,2014,19/06/2014,Yes,90,100,4000,2970,3150,2320,3210,3450,650,2260,11100,11100,19,307
Lidcombe,South,2014,5/06/2014,Yes,100,100,4570,1620,2870,2210,2550,3900,820,3080,10910,10910,20,702
Auburn,Western,2014,19/11/2014,Yes,130,60,3880,1790,3220,2900,2700,3890,960,2260,10890,10890,21,901
Museum,CBD,2014,22/05/2014,Yes,100,100,800,6290,2220,2340,5980,1230,1760,910,10860,10860,22,106
Epping,Northern via Strathfield,2014,21/05/2014,Yes,170,90,5700,1580,2130,1600,1970,4920,600,2380,10570,10570,23,1208
Macquarie University,Northern via Macquarie Park,2014,21/05/2014,Yes,100,100,1310,3220,2570,3940,4530,1970,1580,860,10090,10090,24,1303
St James,CBD,2014,27/05/2014,Yes,100,90,780,5880,1900,2160,5630,1120,1440,580,9850,9850,25,105
Rockdale,Illawarra,2014,28/05/2014,Yes,90,90,4660,780,2610,2170,1670,3770,610,2820,9640,9640,26,306
Cabramatta,South,2014,11/06/2014,Yes,150,80,3780,1070,2760,2820,1750,3760,290,1000,8730,8730,27,708
Bankstown,Bankstown,2014,13/05/2014,Yes,80,60,3010,1810,2400,2570,2840,3130,300,1050,8630,8630,28,612
Liverpool,South,2014,4/06/2014,Yes,150,80,2510,2270,2510,2260,2610,2650,570,1100,8350,8350,29,710
Sutherland,Illawarra,2014,12/06/2014,Yes,140,70,4260,1460,1920,1650,1750,3900,250,1240,8320,8320,30,316
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Newcastle,Newcastle,2004,19/06/2003,No,50,20,260,320,720,850,430,200,70,140,1530,1530,123,1917
Waratah,Hunter,2004,16/10/2001,No,0,0,100,100,150,150,120,120,40,30,410,410,193,2001
Warabrook (University),Hunter,2004,16/10/2001,No,10,10,20,250,120,200,300,70,90,20,540,540,185,2002
Sandgate,Hunter,2004,16/10/2001,No,0,0,10,10,10,10,20,20,0,0,40,40,267,2003
Hexham,Hunter,2004,16/10/2001,No,0,0,10,20,10,20,20,10,10,0,50,50,258,2004
Tarro,Hunter,2004,16/10/2001,No,0,0,20,0,0,10,0,10,0,0,20,20,278,2005
Beresfield,Hunter,2004,16/10/2001,No,0,0,180,80,140,110,70,180,10,40,400,400,195,2006
Thornton,Hunter,2004,16/10/2001,No,0,0,150,20,60,80,50,150,10,20,270,270,211,2007
Metford,Hunter,2004,16/10/2001,No,0,0,100,20,50,50,20,90,10,10,180,180,231,2008
Victoria Street,Hunter,2004,16/10/2001,No,0,0,190,50,120,120,70,180,20,50,400,400,195,2009
East Maitland,Hunter,2004,16/10/2001,No,0,0,20,50,50,40,50,20,0,10,120,120,240,2010
High Street,Hunter,2004,16/10/2001,No,0,0,30,40,40,40,30,40,10,0,110,110,248,2011
Maitland,Hunter,2004,16/10/2001,No,0,10,190,100,180,210,150,180,20,40,540,540,185,2012
Telarah,Hunter,2004,24/08/2004,Yes,0,0,110,30,60,60,50,120,20,30,240,240,218,2013
Mindaribba,Hunter,2004,24/08/2004,Yes,0,0,0,0,0,0,0,0,0,0,0,0,295,2014
Paterson,Hunter,2004,24/08/2004,Yes,0,0,10,0,0,0,0,10,0,0,10,10,283,2015
Martins Creek,Hunter,2004,24/08/2004,Yes,0,0,10,0,0,0,0,0,0,0,10,10,283,2016
Hilldale,Hunter,2004,24/08/2004,Yes,0,0,0,0,0,0,0,0,0,0,0,0,295,2017
Wallarobba,Hunter,2004,24/08/2004,Yes,0,0,0,0,0,0,0,0,0,0,0,0,295,2018
Wirragulla,Hunter,2004,24/08/2004,Yes,0,0,0,0,0,0,0,0,0,0,0,0,295,2019
Dungog,Hunter,2004,24/08/2004,Yes,0,0,20,0,10,20,10,20,0,10,40,40,267,2020
Lochinvar,Hunter,2004,24/08/2004,Yes,0,0,10,0,0,0,0,0,0,0,10,10,283,2021
Allandale,Hunter,2004,16/10/2001,No,0,0,0,0,0,0,0,0,0,0,0,0,295,2022
Greta,Hunter,2004,24/08/2004,Yes,0,0,0,0,0,0,0,0,0,0,0,0,295,2023
Branxton,Hunter,2004,24/08/2004,Yes,0,0,20,0,0,0,0,10,0,10,20,20,278,2024
Belford,Hunter,2004,24/08/2004,Yes,0,0,0,0,0,0,0,0,0,0,0,0,295,2025
Singleton,Hunter,2004,24/08/2004,Yes,0,0,30,10,0,0,10,30,10,10,50,50,258,2026
Muswellbrook,Hunter,2004,24/08/2004,Yes,0,0,10,0,30,10,0,40,10,20,50,50,258,2027
Aberdeen,Hunter,2004,24/08/2004,Yes,0,0,0,0,0,0,0,0,0,10,10,10,283,2028
Scone,Hunter,2004,24/08/2004,Yes,10,0,0,0,0,0,0,10,0,0,10,10,283,2029

In [19]:
all_lines = set(sydtrains.LINE)

all_lines = sydtrains.LINE.unique()

#Those two did basically the same thing... the first is a set, the other is an array

In [21]:
import numpy
for line in all_lines:
    sydtrains[line + ' Line'] = numpy.where(sydtrains.LINE == line, 1, 0)
sydtrains

,LINE,YEAR,SURVEY_DATE_USED,WHETHER_SURVEYED,IN_0200_0600,OUT_0200_0600,IN_0600_0930,OUT_0600_0930,IN_0930_1500,OUT_0930_1500,...,Airport Line,East Hills Line,Central Coast Line,Olympic Park Line,South Coast Line,Blue Mountains Line,Newcastle Line,Hunter Line,Carlingford Line,Southern Highlands Line
STATION,,,,,,,,,,,,,,,,,,,,,
Central,CBD,2014,6/05/2014,Yes,940,920,10390,42070,21400,30150,...,0,0,0,0,0,0,0,0,0,0
Town Hall,CBD,2014,7/05/2014,Yes,880,880,6380,43210,16930,23550,...,0,0,0,0,0,0,0,0,0,0
Wynyard,CBD,2014,20/05/2014,Yes,590,570,4710,39620,9200,11180,...,0,0,0,0,0,0,0,0,0,0
Parramatta,Western,2014,19/11/2014,Yes,660,330,7790,13700,7400,7020,...,0,0,0,0,0,0,0,0,0,0
North Sydney,North Shore,2014,19/08/2014,Yes,270,270,2340,18340,4450,5590,...,0,0,0,0,0,0,0,0,0,0
Redfern,CBD,2014,1/05/2014,Yes,250,250,3910,10690,5350,8170,...,0,0,0,0,0,0,0,0,0,0
Chatswood,North Shore,2014,19/08/2014,Yes,210,200,5030,8200,4710,4930,...,0,0,0,0,0,0,0,0,0,0
Bondi Junction,Eastern Suburbs,2014,2/09/2014,Yes,210,210,10150,4350,4370,4600,...,0,0,0,0,0,0,0,0,0,0
Strathfield,Inner West,2014,9/09/2014,Yes,190,190,7900,4050,4980,3950,...,0,0,0,0,0,0,0,0,0,0
Circular Quay,CBD,2014,22/05/2014,Yes,200,200,2110,8750,4340,6710,...,0,0,0,0,0,0,0,0,0,0
Martin Place,CBD,2014,27/05/2014,Yes,200,190,590,14250,2900,3420,...,0,0,0,0,0,0,0,0,0,0
Hurstville,Illawarra,2014,28/05/2014,Yes,160,160,7790,2200,5230,4180,...,0,0,0,0,0,0,0,0,0,0
St Leonards,North Shore,2014,27/05/2014,Yes,170,170,3420,8900,3090,3310,...,0,0,0,0,0,0,0,0,0,0
Blacktown,Western,2014,14/10/2014,Yes,190,210,6460,3370,4270,3450,...,0,0,0,0,0,0,0,0,0,0
Burwood,Inner West,2014,9/09/2014,Yes,140,140,4850,2930,4470,3670,...,0,0,0,0,0,0,0,0,0,0
Kings Cross,Eastern Suburbs,2014,3/09/2013,No,120,120,3690,3820,3110,2670,...,0,0,0,0,0,0,0,0,0,0
Hornsby,North Shore,2014,14/05/2014,Yes,210,100,5550,2260,3060,2390,...,0,0,0,0,0,0,0,0,0,0
Ashfield,Inner West,2014,4/09/2013,No,100,100,5090,2010,2690,2220,...,0,0,0,0,0,0,0,0,0,0
Kogarah,Illawarra,2014,19/06/2014,Yes,90,100,4000,2970,3150,2320,...,0,0,0,0,0,0,0,0,0,0
Lidcombe,South,2014,5/06/2014,Yes,100,100,4570,1620,2870,2210,...,0,0,0,0,0,0,0,0,0,0
Auburn,Western,2014,19/11/2014,Yes,130,60,3880,1790,3220,2900,...,0,0,0,0,0,0,0,0,0,0
Museum,CBD,2014,22/05/2014,Yes,100,100,800,6290,2220,2340,...,0,0,0,0,0,0,0,0,0,0
Epping,Northern via Strathfield,2014,21/05/2014,Yes,170,90,5700,1580,2130,1600,...,0,0,0,0,0,0,0,0,0,0
Macquarie University,Northern via Macquarie Park,2014,21/05/2014,Yes,100,100,1310,3220,2570,3940,...,0,0,0,0,0,0,0,0,0,0
St James,CBD,2014,27/05/2014,Yes,100,90,780,5880,1900,2160,...,0,0,0,0,0,0,0,0,0,0
Rockdale,Illawarra,2014,28/05/2014,Yes,90,90,4660,780,2610,2170,...,0,0,0,0,0,0,0,0,0,0
Cabramatta,South,2014,11/06/2014,Yes,150,80,3780,1070,2760,2820,...,0,0,0,0,0,0,0,0,0,0
Bankstown,Bankstown,2014,13/05/2014,Yes,80,60,3010,1810,2400,2570,...,0,0,0,0,0,0,0,0,0,0
Liverpool,South,2014,4/06/2014,Yes,150,80,2510,2270,2510,2260,...,0,0,0,0,0,0,0,0,0,0
Sutherland,Illawarra,2014,12/06/2014,Yes,140,70,4260,1460,1920,1650,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Newcastle,Newcastle,2004,19/06/2003,No,50,20,260,320,720,850,...,0,0,0,0,0,0,1,0,0,0
Waratah,Hunter,2004,16/10/2001,No,0,0,100,100,150,150,...,0,0,0,0,0,0,0,1,0,0
Warabrook (University),Hunter,2004,16/10/2001,No,10,10,20,250,120,200,...,0,0,0,0,0,0,0,1,0,0
Sandgate,Hunter,2004,16/10/2001,No,0,0,10,10,10,10,...,0,0,0,0,0,0,0,1,0,0
Hexham,Hunter,2004,16/10/2001,No,0,0,10,20,10,20,...,0,0,0,0,0,0,0,1,0,0
Tarro,Hunter,2004,16/10/2001,No,0,0,20,0,0,10,...,0,0,0,0,0,0,0,1,0,0
Beresfield,Hunter,2004,16/10/2001,No,0,0,180,80,140,110,...,0,0,0,0,0,0,0,1,0,0
Thornton,Hunter,2004,16/10/2001,No,0,0,150,20,60,80,...,0,0,0,0,0,0,0,1,0,0
Metford,Hunter,2004,16/10/2001,No,0,0,100,20,50,50,...,0,0,0,0,0,0,0,1,0,0
Victoria Street,Hunter,2004,16/10/2001,No,0,0,190,50,120,120,...,0,0,0,0,0,0,0,1,0,0
East Maitland,Hunter,2004,16/10/2001,No,0,0,20,50,50,40,...,0,0,0,0,0,0,0,1,0,0
High Street,Hunter,2004,16/10/2001,No,0,0,30,40,40,40,...,0,0,0,0,0,0,0,1,0,0
Maitland,Hunter,2004,16/10/2001,No,0,10,190,100,180,210,...,0,0,0,0,0,0,0,1,0,0
Telarah,Hunter,2004,24/08/2004,Yes,0,0,110,30,60,60,...,0,0,0,0,0,0,0,1,0,0
Mindaribba,Hunter,2004,24/08/2004,Yes,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
Paterson,Hunter,2004,24/08/2004,Yes,0,0,10,0,0,0,...,0,0,0,0,0,0,0,1,0,0
Martins Creek,Hunter,2004,24/08/2004,Yes,0,0,10,0,0,0,...,0,0,0,0,0,0,0,1,0,0
Hilldale,Hunter,2004,24/08/2004,Yes,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
Wallarobba,Hunter,2004,24/08/2004,Yes,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
Wirragulla,Hunter,2004,24/08/2004,Yes,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
Dungog,Hunter,2004,24/08/2004,Yes,0,0,20,0,10,20,...,0,0,0,0,0,0,0,1,0,0
Lochinvar,Hunter,2004,24/08/2004,Yes,0,0,10,0,0,0,...,0,0,0,0,0,0,0,1,0,0
Allandale,Hunter,2004,16/10/2001,No,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
Greta,Hunter,2004,24/08/2004,Yes,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
Branxton,Hunter,2004,24/08/2004,Yes,0,0,20,0,0,0,...,0,0,0,0,0,0,0,1,0,0
Belford,Hunter,2004,24/08/2004,Yes,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
Singleton,Hunter,2004,24/08/2004,Yes,0,0,30,10,0,0,...,0,0,0,0,0,0,0,1,0,0
Muswellbrook,Hunter,2004,24/08/2004,Yes,0,0,10,0,30,10,...,0,0,0,0,0,0,0,1,0,0
Aberdeen,Hunter,2004,24/08/2004,Yes,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
Scone,Hunter,2004,24/08/2004,Yes,10,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [23]:
len(all_lines)

20

In [24]:
y = sydtrains.IN_24_HOURS

In [28]:
X_columns = [x + " Line" for x in all_lines] + ['YEAR']
X_columns

['CBD Line',
 'Western Line',
 'North Shore Line',
 'Eastern Suburbs Line',
 'Inner West Line',
 'Illawarra Line',
 'South Line',
 'Northern via Strathfield Line',
 'Northern via Macquarie Park Line',
 'Bankstown Line',
 'Airport Line',
 'East Hills Line',
 'Central Coast Line',
 'Olympic Park Line',
 'South Coast Line',
 'Blue Mountains Line',
 'Newcastle Line',
 'Hunter Line',
 'Carlingford Line',
 'Southern Highlands Line',
 'YEAR']

In [30]:
X = sydtrains[X_columns]
X

,CBD Line,Western Line,North Shore Line,Eastern Suburbs Line,Inner West Line,Illawarra Line,South Line,Northern via Strathfield Line,Northern via Macquarie Park Line,Bankstown Line,...,East Hills Line,Central Coast Line,Olympic Park Line,South Coast Line,Blue Mountains Line,Newcastle Line,Hunter Line,Carlingford Line,Southern Highlands Line,YEAR
STATION,,,,,,,,,,,,,,,,,,,,,
Central,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2014
Town Hall,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2014
Wynyard,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2014
Parramatta,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2014
North Sydney,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2014
Redfern,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2014
Chatswood,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2014
Bondi Junction,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2014
Strathfield,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2014
Circular Quay,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2014
Martin Place,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2014
Hurstville,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2014
St Leonards,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2014
Blacktown,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2014
Burwood,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2014
Kings Cross,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2014
Hornsby,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2014
Ashfield,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2014
Kogarah,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2014
Lidcombe,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,2014
Auburn,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2014
Museum,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2014
Epping,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,2014
Macquarie University,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,2014
St James,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2014
Rockdale,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2014
Cabramatta,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,2014
Bankstown,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,2014
Liverpool,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,2014
Sutherland,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2014
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Newcastle,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,2004
Waratah,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,2004
Warabrook (University),0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,2004
Sandgate,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,2004
Hexham,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,2004
Tarro,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,2004
Beresfield,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,2004
Thornton,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,2004
Metford,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,2004
Victoria Street,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,2004
East Maitland,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,2004
High Street,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,2004
Maitland,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,2004
Telarah,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,2004
Mindaribba,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,2004
Paterson,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,2004
Martins Creek,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,2004
Hilldale,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,2004
Wallarobba,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,2004
Wirragulla,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,2004
Dungog,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,2004
Lochinvar,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,2004
Allandale,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,2004
Greta,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,2004
Branxton,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,2004
Belford,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,2004
Singleton,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,2004
Muswellbrook,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,2004
Aberdeen,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,2004
Scone,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,2004

In [31]:
import sklearn.grid_search
import sklearn.tree

/Users/gregb/anaconda/lib/python3.5/site-packages/sklearn/cross_validation.py:44: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)
/Users/gregb/anaconda/lib/python3.5/site-packages/sklearn/grid_search.py:43: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. This module will be removed in 0.20.
  DeprecationWarning)

In [32]:
brute_force = sklearn.grid_search.GridSearchCV(
    sklearn.tree.DecisionTreeRegressor(),
    param_grid = {
        'max_depth': [1,2,3,4,5]
    }
)

In [33]:
brute_force.fit(X, y)

GridSearchCV(cv=None, error_score='raise',
       estimator=DecisionTreeRegressor(criterion='mse', max_depth=None, max_features=None,
           max_leaf_nodes=None, min_impurity_split=1e-07,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, presort=False, random_state=None,
           splitter='best'),
       fit_params={}, iid=True, n_jobs=1,
       param_grid={'max_depth': [1, 2, 3, 4, 5]}, pre_dispatch='2*n_jobs',
       refit=True, scoring=None, verbose=0)

In [34]:
brute_force.best_params_

{'max_depth': 5}

In [35]:
brute_force.best_estimator_

DecisionTreeRegressor(criterion='mse', max_depth=5, max_features=None,
           max_leaf_nodes=None, min_impurity_split=1e-07,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, presort=False, random_state=None,
           splitter='best')

In [36]:
brute_force.best_score_

0.4800941712628344

In [37]:
brute_force.best_estimator_.predict([1] + ([0] * 19) + [2014])

/Users/gregb/anaconda/lib/python3.5/site-packages/sklearn/utils/validation.py:395: DeprecationWarning: Passing 1d arrays as data is deprecated in 0.17 and will raise ValueError in 0.19. Reshape your data either using X.reshape(-1, 1) if your data has a single feature or X.reshape(1, -1) if it contains a single sample.
  DeprecationWarning)

array([ 41822.5])

In [39]:
sydtrains[(sydtrains.LINE == 'CBD') & (sydtrains.YEAR == 2014)].IN_24_HOURS

STATION
Central          97110
Town Hall        89620
Wynyard          60200
Redfern          25680
Circular Quay    20630
Martin Place     20630
Museum           10860
St James          9850
Name: IN_24_HOURS, dtype: int64

In [71]:
import sklearn.ensemble

In [86]:
brute_force = sklearn.grid_search.GridSearchCV(
    sklearn.ensemble.RandomForestRegressor(),
    param_grid = {
    'n_estimators': [1,5,10,50,100],
    'max_depth': [2,5,8,12,20,25,50],
    'max_features':[2,8,15,20,21]
    }
    )

In [87]:
brute_force.fit(X, y)

GridSearchCV(cv=None, error_score='raise',
       estimator=RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_split=1e-07, min_samples_leaf=1,
           min_samples_split=2, min_weight_fraction_leaf=0.0,
           n_estimators=10, n_jobs=1, oob_score=False, random_state=None,
           verbose=0, warm_start=False),
       fit_params={}, iid=True, n_jobs=1,
       param_grid={'max_features': [2, 8, 15, 20, 21], 'max_depth': [2, 5, 8, 12, 20, 50], 'n_estimators': [1, 5, 10, 50, 100]},
       pre_dispatch='2*n_jobs', refit=True, scoring=None, verbose=0)

In [88]:
brute_force.best_params_

{'max_depth': 50, 'max_features': 21, 'n_estimators': 100}

In [89]:
brute_force.best_score_

0.5065441737856924